<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="CompilerPath" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\Tools"/>
    <add key ="FoldersPath" value ="C:\Users\User\Documents\CodeQueeze\API\APIQuiz\APIQuiz\TestTask"/>
  </appSettings>
</configuration>