@{
    ViewData["Title"] = "Error";
}
<div class="media">
    <div class="media-left">
        <img src="~/images/ErrorPic.png" alt="Error Picture" width="500px" />
    </div>
    <div class="media-body">
        <h2 class="media-heading">Oops... Looks like something's not right</h2>
        <h3>@ViewBag.Message</h3>
        <a href="~/Home/Index" class="btn btn-warning" role="button">Try again</a>
    </div>
</div>