@{
    ViewData["Title"] = "Error";
}
<html>
<head>
	<title>All tasks</title>

	<style>
		* {
			box-sizing: border-box;
		}

		.box {
			float: left;
			max-width: 50%;
			width: 50%;
			height: 100%;
			padding: 3px;
		}

		.clearfix::after {
			content: "";
			clear: both;
			display: table;
		}
	</style>
</head>

<body>
	<div class="clearfix">
		<div class="box" >
			<img src="~/images/ErrorPic.png" alt="Error Picture" style="max-width: 100%"/>
		</div>
		<div class="box" style="text-align: center;">
			<br /><br /><br /><br />
		    <h2><strong>Oops... Looks like something's not right</strong></h2>
			<h3>Error: @ViewBag.Message</h3><br/><br/>
			<a href="~/Home/Index" class="btn btn-warning" role="button" style="font-size: 24px;">Try again</a>
		</div>
	</div>
</body>
</html>
