@model IEnumerable<Quiz.Models.FullTask>
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <title>All tasks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body> 
<div class="container">
    <h2>List of tasks</h2>
    <div class="list-group" style="width : 500px; ">
        @foreach (var task in @ViewBag.MyTasks)
        {
            <a href="/Home/Task/@task.Id" class="list-group-item" style="border-style : hidden;">
            <b>
                @task.Id. @task.Name
            </b>
                <br/>
                @task.ShortDescription
            </a>
        }
    </div>
    
    <h2>Good luck</h2>
    <a href="~/Home/Task/1" class="btn btn-success" role="button">Pick a random task</a>
</div>

</body>
</html>
